<!-- <h1> Hello World </h1> -->

 
{% extends 'base.html' %}
{% import 'macros.html' as macro%}


<!-- Styles block -->

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}



<!-- Content block -->

  
{% block content %}
<body style="background-color: #EAEDED ;">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">


<h1 class="jumbotron" style="color: black; font-family: 'Shadows Into Light', cursive; font-size: 80px; text-align: center;"> Welcome to the Hotest News</h1>


<!-- Science Sources -->
<div class="categories container" style="border: 2px solid black;
background-color: #85929E;
margin-bottom: 10px;
border-radius: 5px;">
  <h3> Science</h3>
  <ul>
    {{ macro.displaySourceList(science)}}
  </ul>
</div>


<!-- Business Sources -->
<div class="categories container"  style="border: 2px solid black;
background-color: #85929E;
margin-bottom: 10px;
border-radius: 5px;">
  <h3> Business</h3>
  <ul>
    {{ macro.displaySourceList(business)}}
  </ul>
</div>


<!-- Entertainment Sources -->
<div class="categories container"  style="border: 2px solid black;
background-color: #85929E;
margin-bottom: 10px;
border-radius: 5px;">
  <h3> Entertainment</h3>
  <ul>
    {{ macro.displaySourceList(entertainment)}}
  </ul>
</div>


<!-- General Sources -->
<div class="categories container"  style="border: 2px solid black;
background-color: #85929E;
margin-bottom: 10px;
border-radius: 5px;">
  <h3> General</h3>
  <ul>
    {{ macro.displaySourceList(general)}}
  </ul>
</div>


<!-- Technology Sources -->
<div class="categories container"  style="border: 2px solid black;
background-color: #85929E;
margin-bottom: 10px;
border-radius: 5px;">
  <h3> Technology</h3>
  <ul>
    {{ macro.displaySourceList(technology)}}
  </ul>
</div>


<!-- Health Sources -->
<div class="categories container"  style="border: 2px solid black;
background-color: #85929E;
margin-bottom: 10px;
border-radius: 5px;">
  <h3> Health</h3>
  <ul>
    {{ macro.displaySourceList(health)}}
  </ul>
</div>

</body>
{% endblock %}
